<!--  -->
<!-- (ngSubmit)="onSubmit()" -->
<!-- <form class="cb-main" [formGroup]="grupoCustomer">
    <header class="cb-header">
        <h1 class="cb-header__title">Datos Personales</h1>
    </header>

    <section class="cb-section cb-section--form cb-form" style="display: flex; flex-direction: column; row-gap: 8px">
        <fieldset class="cb-form__section form-section">
            <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

                <div class="cb-form-field cb-form-field--inline">
                    <label class="cb-form-field__label">Nombre</label>
                    <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="Name" />
                </div>

            </div>

            <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

                <div class="cb-form-field cb-form-field--inline">
                    <label class="cb-form-field__label">Teléfono</label>
                    <input type="text" class="cb-form-field__input cb-input cb-input--small" 
                    formControlName="Phone" />
                </div>

            </div>

            <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

                <div class="cb-form-field cb-form-field--inline">
                    <label class="cb-form-field__label">Mail</label>
                    <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="Email" />
                </div>

            </div>

            <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

                <div class="cb-form-field cb-form-field--inline">
                    <label class="cb-form-field__label">Dirección</label>
                    <input type="text" class="cb-form-field__input cb-input cb-input--small"
                        formControlName="Address" />
                </div>

            </div>

            <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

                <div class="cb-form-field cb-form-field--inline">
                    <label class="cb-form-field__label">Ciudad</label>
                    <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="City" />
                </div>

            </div>
        </fieldset>
    </section>
</form> -->

<form class="cb-main">
    <div class="body-elements-container">
        <header class="cb-header">
            <h1 class="cb-header__title">Datos Personales</h1>
        </header>
    </div>

    <section class="cb-section cb-section--table">
        <table class="cb-table cb-table--responsive">
            <thead class="cb-table__head cb-table__head--only-desk">
                <tr class="cb-table__tr">
                    <th class="cb-table__th"></th>

                    <th class="cb-table__th">
                        <!-- (click)="sortDatos('prima')" -->
                        Nombre
                        <!-- <i class="cb-icon cb-icon--triangleup"></i>  -->
                        <!-- <i
              *ngIf="sortStatus.column === 'prima'"
              [ngClass]="{
                'cb-icon--triangledown': sortStatus.direction === 'desc',
                'cb-icon--triangleup': sortStatus.direction === 'asc'
              }"
              class="cbx-icon"
            ></i> -->
                    </th>
                    <th class="cb-table__th">
                        Ciudad
                    </th>

                    <th class="cb-table__th">
                        Dirección
                    </th>

                    <th class="cb-table__th">
                        Mail
                    </th>

                    <th class="cb-table__th">
                        Teléfono
                    </th>
                </tr>
            </thead>

            <tbody class="cb-table__body">
                <tr class="cb-table__tr" *ngFor="let customer of customers">
                    <!-- DESKTOP -->
                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        <cb-dropdown class="on-hover-visible">
                            <ul class="cb-menu">
                                <li class="cb-menu__option" (click)="verCustomer(customer)">
                                    <span class="cb-menu__icon cb-icon cb-icon--info"></span>
                                    <p class="cb-menu__title">Ver</p>
                                </li>

                                <li class="cb-menu__option">
                                    <span class="cb-menu__icon cb-icon cb-icon--edit"></span>
                                    <p class="cb-menu__title">Editar</p>
                                </li>

                                <li class="cb-menu__option">
                                    <span class="cb-menu__icon cb-icon cb-icon--delete"></span>
                                    <p class="cb-menu__title">Eliminar</p>
                                </li>
                            </ul>
                        </cb-dropdown>
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.Name }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.City }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.Address }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.Email }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.Phone }}
                    </td>
        </table>
    </section>
</form>