<form class="cb-main">
    <div class="body-elements-container">
        <header class="cb-header" style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      ">
            <h1 class="cb-header__title">Datos Personales</h1>
            <div style="display: flex; gap: 5px">
                <button class="btn cb-btn cb-btn--only-icon" style="color: white" (click)="altaCustomer()" style="                    
                    color: #9d9d9d;
                    background-color: transparent;
                ">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

        </header>
    </div>

    <section class="cb-section cb-section--table">
        <table class="cb-table cb-table--responsive">
            <thead class="cb-table__head cb-table__head--only-desk">
                <tr class="cb-table__tr">
                    <th class="cb-table__th"></th>

                    <th class="cb-table__th">
                        <!-- (click)="sortDatos('prima')" -->
                        Nombre
                        <!-- <i class="cb-icon cb-icon--triangleup"></i>  -->
                        <!-- <i
              *ngIf="sortStatus.column === 'prima'"
              [ngClass]="{
                'cb-icon--triangledown': sortStatus.direction === 'desc',
                'cb-icon--triangleup': sortStatus.direction === 'asc'
              }"
              class="cbx-icon"
            ></i> -->
                    </th>
                    <th class="cb-table__th">
                        Ciudad
                    </th>

                    <th class="cb-table__th">
                        Dirección
                    </th>

                    <th class="cb-table__th">
                        Mail
                    </th>

                    <th class="cb-table__th">
                        Teléfono
                    </th>
                </tr>
            </thead>

            <tbody class="cb-table__body">
                <tr class="cb-table__tr" *ngFor="let customer of customers">
                    <!-- DESKTOP -->
                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        <cb-dropdown class="on-hover-visible">
                            <ul class="cb-menu">
                                <li class="cb-menu__option" (click)="verCustomer(customer)">
                                    <span class="cb-menu__icon cb-icon cb-icon--info"></span>
                                    <p class="cb-menu__title">Ver</p>
                                </li>

                                <li class="cb-menu__option" (click)="editarCustomer(customer)">
                                    <span class="cb-menu__icon cb-icon cb-icon--edit"></span>
                                    <p class="cb-menu__title">Editar</p>
                                </li>

                                <li class="cb-menu__option">
                                    <span class="cb-menu__icon cb-icon cb-icon--delete"></span>
                                    <p class="cb-menu__title">Eliminar</p>
                                </li>
                            </ul>
                        </cb-dropdown>
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.customerName }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.customerCity }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.customerAddress }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.customerEmail }}
                    </td>

                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        {{ customer.customerPhone }}
                    </td>
        </table>
    </section>
</form>