<form class="cb-main">
    <div class="body-elements-container">
        <header class="cb-header" style="
        display: flex;
        align-items: center;
        justify-content: space-between;
      ">
            <h1 class="cb-header__title">Cuentas</h1>
            <div style="display: flex; gap: 5px">
                <button class="btn cb-btn cb-btn--only-icon" style="color: white" (click)="altaAccount()" style="                    
                    color: #9d9d9d;
                    background-color: transparent;
                ">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

        </header>
    </div>

    <section class="cb-section cb-section--table">
        <table class="cb-table cb-table--responsive">
            <thead class="cb-table__head cb-table__head--only-desk">
                <tr class="cb-table__tr">
                    <th class="cb-table__th"></th>
                    <th class="cb-table__th">
                        Número
                    </th>

                    <th class="cb-table__th">
                        Balance
                    </th>

                    <th class="cb-table__th">
                        Tipo
                    </th>

                    <th class="cb-table__th">
                        Moneda
                    </th>
                </tr>
            </thead>

            <tbody class="cb-table__body">
                <tr class="cb-table__tr" *ngFor="let account of accounts; let i = index">
                    <td class="cb-table__td cb-table__td--center cb-table__td--only-desk">
                        <cb-dropdown class="on-hover-visible">
                            <ul class="cb-menu">
                                <li class="cb-menu__option" (click)="verAccount(account)">
                                    <span class="cb-menu__icon cb-icon cb-icon--info"></span>
                                    <p class="cb-menu__title">Ver</p>
                                </li>

                                <li class="cb-menu__option" (click)="editarAccount(account)">
                                    <span class="cb-menu__icon cb-icon cb-icon--edit"></span>
                                    <p class="cb-menu__title">Editar</p>
                                </li>

                                <li class="cb-menu__option" (click)="eliminarAccount(account)">
                                    <span class="cb-menu__icon cb-icon cb-icon--delete"></span>
                                    <p class="cb-menu__title">Eliminar</p>
                                </li>

                                <!-- Movimiento -->
                                <li class="cb-menu__option cb-menu__option--has-submenu">
                                    <span class="cb-menu__icon cb-icon cb-icon--movement"></span>
                                    <p class="cb-menu__title">Movimiento</p>
                                    <ul class="cb-submenu">

                                        <!-- Detalle -->
                                        <li class="cb-submenu__option"  (click)="verMovimiento(account.movementListList)">
                                            <span class="cb-submenu__icon cb-icon cb-icon--info"></span>
                                            <p class="cb-submenu__title">Detalle</p>
                                        </li>

                                        <!-- Intercambio -->
                                        <li class="cb-submenu__option" (click)="intercammbio(account)">
                                            <span class="cb-submenu__icon cb-icon cb-icon--exchange"></span>
                                            <p class="cb-submenu__title">Exchange</p>
                                        </li>

                                        <!-- Inversión -->
                                        <li class="cb-submenu__option" (click)="inversion(account)">
                                            <span class="cb-submenu__icon cb-icon cb-icon--investment"></span>
                                            <p class="cb-submenu__title">Inversión</p>
                                        </li>

                                        <!-- Transacciones -->
                                        <li class="cb-submenu__option" (click)="transaccion(account)">
                                            <span class="cb-submenu__icon cb-icon cb-icon--transaction"></span>
                                            <p class="cb-submenu__title">Transacciones</p>
                                        </li>

                                        <!-- Transferencia -->
                                        <li class="cb-submenu__option" (click)="transferencia(account)">
                                            <span class="cb-submenu__icon cb-icon cb-icon--transfer"></span>
                                            <p class="cb-submenu__title">Transferencia</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </cb-dropdown>
                    </td>

                    <td class="cb-table__td cb-table__td--right cb-table__td--only-desk">
                        {{ account.accountId}}
                    </td>

                    <td class="cb-table__td cb-table__td--right cb-table__td--only-desk">
                        {{ account.accountBalance | decimales: 2}}
                    </td>

                    <td class="cb-table__td cb-table__td--x cb-table__td--only-desk">
                        {{ account.accountType }}
                    </td>

                    <td class="cb-table__td cb-table__td--left cb-table__td--only-desk">
                        {{ account.accountCurrency }}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</form>