$cb-color-white: #fff;
$cb-color-black: #000;

$cb-color-white-transparent-80: #fffc;
$cb-color-white-transparent-50: #ffffff80;

$cb-color-black-transparent-80: #000c;
$cb-color-black-transparent-50: #00000080;

$cb-color-grey-back: #f5f5f5;
$cb-color-grey-text: #656565;
$cb-color-grey-text-transparent-80: #65656580;
$cb-color-grey-text-transparent-50: #656565cc;
$cb-color-gray-border: #d1d1d1;
$cb-color-gray: #9d9d9d;

$cb-screen-breakpoint-phone: 768px;

$nose: 200px;

$colores: (
  "primary": (
    default: #55c1e6,
    hover: #55c1e6cc,
    active: #55c1e6cc,
    disabled: #55c1e680,
  ),
  "danger": (
    default: #dc3545,
    hover: #dc3545cc,
    active: #dc3545cc,
    disabled: #dc354580,
  ),
  "alert": (
    default: #ffc107,
    hover: #ffc107cc,
    active: #ffc107cc,
    disabled: #ffc10780,
  ),
  "success": (
    default: #218838,
    hover: #218838cc,
    active: #218838cc,
    disabled: #21883880,
  ),
);

// Botones

$sizesBtn: (
  "small": (
    "phone": (
      height: 26px,
      font: 14px,
      padding-y: 20px,
      padding-x: 5px,
      border: 1px,
      height-only-icon: 20px,
    ),
    "desk": (
      height: 15px,
      font: 14px,
      padding-y: 20px,
      padding-x: 3px,
      border: 1px,
      height-only-icon: 17px,
    ),
  ),
  "medium": (
    "phone": (
      height: 32px,
      font: 16px,
      padding-y: 20px,
      padding-x: 7px,
      border: 1px,
      height-only-icon: 25px,
    ),
    "desk": (
      height: 26px,
      font: 16px,
      padding-y: 20px,
      padding-x: 4px,
      border: 1px,
      height-only-icon: 20px,
    ),
  ),
  "large": (
    "phone": (
      height: 40px,
      font: 20px,
      padding-y: 20px,
      padding-x: 9px,
      border: 1px,
      height-only-icon: 32px,
    ),
    "desk": (
      height: 36px,
      font: 20px,
      padding-y: 20px,
      padding-x: 7px,
      border: 1px,
      height-only-icon: 29px,
    ),
  ),
);

// Fin botones

// Inputs

$sizesInputs: (
  "small": (
    "phone": (
      height: 26px,
      font: 13px,
      padding-y: 9px,
      padding-x: 3px,
      border: 1px,
    ),
    "desk": (
      height: 16px,
      font: 13px,
      padding-y: 9px,
      padding-x: 3px,
      border: 1px,
    ),
  ),
  "medium": (
    "phone": (
      height: 32px,
      font: 15px,
      padding-y: 11px,
      padding-x: 4px,
      border: 1px,
    ),
    "desk": (
      height: 26px,
      font: 15px,
      padding-y: 11px,
      padding-x: 4px,
      border: 1px,
    ),
  ),
  "large": (
    "phone": (
      height: 40px,
      font: 18px,
      padding-y: 13px,
      padding-x: 6px,
      border: 1px,
    ),
    "desk": (
      height: 36px,
      font: 18px,
      padding-y: 13px,
      padding-x: 6px,
      border: 1px,
    ),
  ),
);

// Fin inputs
