<form class="cb-main" [formGroup]="grupoCustomer" (ngSubmit)="onSubmit()">
  <header class="cb-header">
    <i class="cb-btn__icon cb-icon cb-header__title" [ngClass]="(estado===2) ? 'cb-icon--info' : (estado===1) ? 'cb-icon--edit' : 'cb-icon--add'"
      style="margin-right: 0.5rem"></i>
    <h1 class="cb-header__title" style="width: 100%; text-wrap: nowrap; margin-top: 0.1rem">{{titulo}}</h1>
  </header>

  <section class="cb-section cb-section--form cb-form" style="display: flex; flex-direction: column; row-gap: 8px">
    <fieldset class="cb-form__section form-section">
      <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

        <div class="cb-form-field cb-form-field--inline">
          <label class="cb-form-field__label">Nombre</label>
          <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="customerName" />
        </div>

      </div>

      <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

        <div class="cb-form-field cb-form-field--inline">
          <label class="cb-form-field__label">Mail</label>
          <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="customerEmail" />
        </div>

      </div>

      <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

        <div class="cb-form-field cb-form-field--inline">
          <label class="cb-form-field__label">Teléfono</label>
          <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="customerPhone" />
        </div>

      </div>

      <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

        <div class="cb-form-field cb-form-field--inline">
          <label class="cb-form-field__label">Ciudad</label>
          <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="customerCity" />
        </div>

      </div>  

      <div class="form-section__content" style="display: flex; flex-direction: row; flex-wrap: wrap">

        <div class="cb-form-field cb-form-field--inline">
          <label class="cb-form-field__label">Dirección</label>
          <input type="text" class="cb-form-field__input cb-input cb-input--small" formControlName="customerAddress" />
        </div>

      </div>
    </fieldset>
  </section>

  <footer class="cb-footer cb-footer--sticky">
    <div class="cb-footer__toolbar cb-toolbar">
      <div class="cb-toolbar__content-fixed">
        <li class="cb-toolbar__option" *ngIf="estado === 2">
          <button type="button" class="btn cb-btn cb-btn--secondary" (click)="closeForm()">
            Cerrar
          </button>
        </li>
        <li class="cb-toolbar__option" *ngIf="estado !== 2">
          <button type="button" class="btn cb-btn cb-btn--secondary" (click)="closeForm()">
            Cancelar
          </button>
        </li>
        <li class="cb-toolbar__option" *ngIf="estado !== 2">
          <button type="submit" class="btn cb-btn ">Guardar</button>
        </li>
      </div>
    </div>
  </footer>
</form>