<div class="sidebar" [ngClass]="{'sidebar--hidden': !showUserData}" (mouseenter)="showData()" (mouseleave)="hideData()">
    <div class="profile">
        <i class="fas fa-user">
            <span *ngIf="showUserData" style="margin-left: 10px;">Nydia</span>
        </i>
    </div>
    <div *ngIf="showUserData && currentCustomer">        
        <ul>
            <li><a [routerLink]="['./datos-personales/consulta/' + currentCustomer?.customerName]">Datos Personales</a></li>
            <li><a routerLink="/core-bancario/cuenta/consulta">Cuenta</a></li>
            <li><a routerLink="/core-bancario/deposito/consulta">Depósitos</a></li>
            <li><a routerLink="/core-bancario/retiro/consulta">Retiros</a></li>
            <li><a routerLink="/seguros">Seguros</a></li>
        </ul>
    </div>
</div>